/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.selects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cargo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cargo-content {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.cargo-chart {
  flex: 1;
}